# Support vector machine - regression --->  PHASE 1 model creation. 
## PROBLEM STATEMENT: 
### Profit prediction for startups based on the investment rate in different departments

## read the dataset

In [3]:
import pandas as pd
dataset = pd.read_csv("50_Startups.csv")
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

## convert the categorical data (state) into numerical data 
### - [using get_dummies() , drop first col - to avoid duplicates, dtype=int]

In [4]:
dataset = pd.get_dummies(dataset, drop_first=True, dtype=int)
dataset.head()   # only shows 1st 5 rows of data

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

## split input and output

In [5]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [6]:
independent = dataset[['R&D Spend', 'Administration', 'Marketing Spend','State_Florida', 'State_New York'  ]]
independent.head()

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0  165349.20       136897.80        471784.10              0               1
1  162597.70       151377.59        443898.53              0               0
2  153441.51       101145.55        407934.54              1               0
3  144372.41       118671.85        383199.62              0               1
4  142107.34        91391.77        366168.42              1               0

In [7]:
dependent = dataset[['Profit']]
dependent.head()

      Profit
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

## split train and test data

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent, dependent, test_size=0.20, random_state=0)
""" 
TRAIN TEST RATIO - 80 : 20 
"""

' \nTRAIN TEST RATIO - 80 : 20 \n'

In [9]:
x_train # TRAIN INPUT

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
33   55493.95       103057.49        214634.81              1               0
35   46014.02        85047.44        205517.64              0               1
26   75328.87       144135.98        134050.07              1               0
34   46426.07       157693.92        210797.67              0               0
18   91749.16       114175.79        294919.57              1               0
7   130298.13       145530.06        323876.68              1               0
14  119943.24       156547.42        256512.92              1               0
45    1000.23       124153.04          1903.93              0               1
48     542.05        51743.15             0.00              0               1
29   65605.48       153032.06        107138.38              0               1
15  114523.61       122616.84        261776.23              0               1
30   61994.48       115641.28         91131.24              1               0
32   63408.86       129219.61         46085.25              0               0
16   78013.11       121597.55        264346.06              0               0
42   23640.93        96189.63        148001.11              0               0
20   76253.86       113867.30        298664.47              0               0
43   15505.73       127382.30         35534.17              0               1
8   120542.52       148718.95        311613.29              0               1
13   91992.39       135495.07        252664.93              0               0
25   64664.71       139553.16        137962.62              0               0
5   131876.90        99814.71        362861.36              0               1
17   94657.16       145077.58        282574.31              0               1
40   28754.33       118546.05        172795.67              0               0
49       0.00       116983.80         45173.06              0               0
1   162597.70       151377.59        443898.53              0               0
12   93863.75       127320.38        249839.44              1               0
37   44069.95        51283.14        197029.42              0               0
24   77044.01        99281.34        140574.81              0               1
6   134615.46       147198.87        127716.82              0               0
23   67532.53       105751.03        304768.73              1               0
36   28663.76       127056.21        201126.82              1               0
21   78389.47       153773.43        299737.29              0               1
19   86419.70       153514.11             0.00              0               1
9   123334.88       108679.17        304981.62              0               0
39   38558.51        82982.09        174999.30              0               0
46    1315.46       115816.21        297114.46              1               0
3   144372.41       118671.85        383199.62              0               1
0   165349.20       136897.80        471784.10              0               1
47       0.00       135426.92             0.00              0               0
44   22177.74       154806.14         28334.72              0               0

In [10]:
y_train.head() # TRAIN OUTPUT

       Profit
33   96778.92
35   96479.51
26  105733.54
34   96712.80
18  124266.90

In [11]:
x_test # TEST INPUT

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
28   66051.52       182645.56        118148.20              1               0
11  100671.96        91790.61        249744.55              0               0
10  101913.08       110594.11        229160.95              1               0
41   27892.92        84710.77        164470.71              1               0
2   153441.51       101145.55        407934.54              1               0
27   72107.60       127864.55        353183.81              0               1
38   20229.59        65947.93        185265.10              0               1
31   61136.38       152701.92         88218.23              0               1
22   73994.56       122782.75        303319.26              1               0
4   142107.34        91391.77        366168.42              1               0

In [12]:
y_test.head() # TEST OUTPUT

       Profit
28  103282.38
11  144259.40
10  146121.95
41   77798.83
2   191050.39

## standardization in SVM regression

In [18]:
from sklearn.preprocessing import StandardScaler       #also used to scale features 
# fit: finds mean and standard deviation values ,  transform: performs the calculaton and applies them in dataset

# PREPROCESSING THE "INPUT" DATA
sc = StandardScaler()
x_train = sc.fit_transform(x_train)       
x_test = sc.transform(x_test)

In [20]:
# PREPROCESSING THE "OUTPUT" DATA
scy = StandardScaler()
y_train = scy.fit_transform(y_train)
y_test = scy.transform(y_test)

## MODEL CREATION

In [21]:
# from sklearn.svm import SVR
# """
# kernel - kernel type (linear/non linear kernels) , {linear, poly, rbf, sigmoid, precomputed} or callable, default=rbf
# C - regularization parameter (used to increase model accurace by reducing errors in data points - when closer data points exist in dataset)
# """
# # create svr obj
# regressor = SVR(kernel="linear",C=3000)  
# # model creation
# regressor.fit(x_train,y_train)

## save the standardization (preprocessing technique) - to be used in the deployment phase

In [23]:
# or using joblib
# import joblib 
# joblib.dump(sc,'scaler.pkl')     # trained preprocessing object is saved 

# or using pickle 
# import pickle
# pickle.dump(sc,open('scaler.sav', 'wb'))

# Using Pipeline
import joblib
from sklearn.pipeline import Pipeline        # pipeline - connects preprocessing + model 
from sklearn.svm import SVR
# creating the pipeline
svr_pipeline = Pipeline([
    ("scaler", StandardScaler() ),
    ("model", SVR(kernel="linear",C=3000) ),
])

# run the pipeline + model creation
svr_pipeline.fit(x_train,y_train)
# save the pipeline
joblib.dump(svr_pipeline, 'svr_pipeline.pkl')

E:\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

['svr_pipeline.pkl']

##  testing the model

In [24]:
y_predicted = svr_pipeline.predict(x_test)
y_predicted

array([-0.1402012 ,  0.60067208,  0.54966829, -0.96405228,  1.65249697,
        0.12861194, -1.05077401, -0.21478753,  0.05986832,  1.39587483])

## evaluation metrics

In [26]:

from sklearn.metrics import r2_score
r_score = r2_score(y_test,y_predicted)
r_score

# accuracy ( for preprocessed input + raw output) -> 0.863223093251272
# accuracy (for preprocessed input + preprocessed output -> 0.929558109611905

0.929558109611905

 # DEPLOYMENT PHASE

## PRE - PREPROCESSING THE INPUT DATA

In [27]:
# sc.transform()  -- uses calculated value of the mean, std deviation from sc.fit (which is calculated previously in the code)
preproceed_input = sc.transform([[165349.20	,136897.80	,471784.10	,0,	1]]) 
preproceed_input

array([[1.65349200e+05, 1.36897800e+05, 4.71784100e+05, 4.99600361e-17,
        1.00000000e+00]])

##  model prediction

### prediction with preprocessed input data

In [28]:
# predict the model
svr_pipeline.predict(preproceed_input)    # return original data

array([187329.0377399])